form label{
    width: 10%;
    display: inline-block;
}
form input{
    width: 10%;
}
form div{
    margin: 10px;

}
h3{
    text-align: left ;
}
.alkad{
    text-align: center;
    margin: 20px;
}
.main{
    text-align: center;
margin: 80px;
}